<table class="table table-striped">
<caption>Current Job Openings</caption>
  <thead>
    <tr>
      <th>Job Title</th>
      <th>Location</th>
      <th>Company Name</th>
      <th>Date Posted</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
    <tr>
      <td><%= link_to job.title, job_path(job) %></td>
      <td><%= job.location %></td>
      <td><%= job.name %></td>
      <td><%= job.created_at.strftime("%b %d") %></td>
      <td><%= link_to "Edit", edit_job_path(job) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
