<h2>Post a New Job</h2>
<%= form_for @job do |job| %>
  <%= job.label :title, "Job Title"%> <%= job.text_field :title %>
  <%= job.label :category_id %> <%= job.text_field :category_id %>
  <%= job.label :location %> <%= job.text_field :location %>
  <%= job.label :description, "Job Description" %> <%= job.text_area :description %>
  <%= job.label :name %> <%= job.text_field :name %>
  <%= job.label :logo %> <%= job.file_field :logo %>
  <%= job.label :url, "Website" %> <%= job.text_field :url %>
  <%= job.label :email, "Email Address" %> <%= job.text_field :email %>
  <%= job.hidden_field :is_active, :value => true %>
  <%= job.hidden_field :is_featured, :value => true %>
  <%= job.hidden_field :access_key, :value => SecureRandom.urlsafe_base64(8, false) %>
  <p><%= job.submit "Post Job" %></p>
<% end %>
<p><%= link_to "Back to Index", jobs_path %></p>

<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js">
</script>

<script type="text/javascript">
//<![CDATA[
var job_description;
job_description = new nicEditor({fullPanel : true}).panelInstance('job_description');
//]]>
</script>
