<p><%= link_to "<< Back to Jobs", jobs_path %></p>
<h1><%= @job.title %></h1>
<%= @job.created_at.strftime("%b %d") %>
<h4><%= @job.category_id %> by <%= @job.location %></h4>
<p><%= @job.description %></p>
<address>
  <h2><%= @job.name %></h2>
  <%= link_to @job.url %><br>
  <%= mail_to @job.email %>
</address>
