<!DOCTYPE html>
<html>
<head>
  <title>JobBoard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Job Board</a>
      <ul class="nav">
        <li><%= link_to "All Jobs", jobs_path %></li>
        <li><%= link_to "Post New Job", new_job_path %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
<%= yield %>
</div>

<footer>
  <div class="container">
    &copy; <%= Time.now.year %> Job Board
  </div>
</footer>
</body>
</html>
